<div>
<embed src="http://www.classicgamesarcade.com/games/frogger.swf" width="500px" height="500px" autostart="true" loop="false" controller="true"></embed><br /><center><a href="http://www.classicgamesarcade.com/game/21607/frogger.html">Frogger</a></center>
</div>