<div>
<h1>Welcome to the Wilfley Engineering Database</h1>
<p>Please use the options below to search for an ECN or Drawing, or use the links on the left to create new drawings or ecns.</p>
<div id="drawsearch" class="search">
  <%= render 'drawing_search' %>
</div>
<div id="ecnsearch" class="search">
  <%= render 'ecn_search' %>
</div>
</div>
