/* Global styles */
  
#main #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}
#main {
    font-family: georgia;
}
#main p{
    font-family: georgia;
}
/* Styles for products/index */

/* START:mainlayout */
/* Styles for main page */

#banner {
  background: #ae0000;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: white;
  text-align: center;
  height: 1em;
  width: 100%;
  display: block;
}

#banner img {
  float: left;
  height: 45px;
  padding-left: 10px;
}

#columns {
  height: 100%;
  min-width: 100%;
  overflow:hidden;
}

#main {
  padding-top: 2em;
  padding-left: 2em;
  background: #ffffff;
  height: 100%;
  float: left;
  padding-bottom: 500em;
  margin-bottom: -500em;
  width: 15em;
}

#side {
  float: left;
  overflow: hidden;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 500em;
  margin-bottom: -500em;
  width: 220px;
  height: 100%;
  background: #ff0000;
}

#side a {
  color: white;
  font-size: large;
  text-decoration:none;
  font: small-caps 20px "Times New Roman", serif;
}
#side a:hover {
  background-color: #ae0000;
}
#side ul {
  list-style-type: none;
}
/* END:mainlayout */

#main h1 {
  color: #8f0000;
  font: small-caps 30px/30px bold "Times New Roman", serif;
}
#main h3 {
  color: #8f0000;
  font: small-caps 22px/22px bold "Times New Roman", serif;
}

.search {
    float: left;
}

.rev {
    margin-left: 5em;
    float: left;

}

.clear {
    clear: both;
}

.fright {
    float:right;
    clear:left;
    display:inline;
}

.revfield {
    display:block;
}
#drawsearch {
    margin-left: 5em;
    margin-right: 5em;
}

.search {
    float:left;
    display: inline-block;
    margin-right: 15px;
}
.left {
    clear: left;
}
.fields {
    clear: both;
    border-top: 1px solid gray;
    width: 1200px;
}
#index tr td {
    padding: 2px;
}
#revisiontable th{
    float: left;
}
.fieldset{
    width: 280px;
}
.glyphw{
    background-image: url(/assets/glyphicons-halflings.png);
}